<footer id="footer">
         <div id="div1">
                 <p>Love Parashar Institute.</p>
         </div>
         <div id="div2">
                 <ul>
                         <li><a href="/signup">
                                 Home
                             </a>
                        </li>
                         <li><a href="/">Profile</a></li>
                 </ul>
         </div>
         <div>
                 <img src="https://tse4.mm.bing.net/th?id=OIP.uYbFCRn_a71vIVNX3RNGvwHaEN&pid=Api&P=0&w=308&h=176" alt="user-avatar" >
         </div>
         <div id="info">
                 <p>@copyright.Info.system login</p>
         </div>
</footer>