<!--link rel="stylesheet" href="/css/signpages.css">

    <h2> type your email Id here</h2>
    <form action="/check-email" method="POST">
        <input type="email" name="email" required placeholder="Email address">
        <input type="submit" value="Submit">
    </form-->
    
  
      